.room-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-thumbnail {
  max-width: 100%;
}

.room-full-image {
  box-sizing: border-box;
  max-height: 40vh;
  max-width: calc(50vw - 8px);
  zoom: 2.0;
}
